
html, body{
	padding-top: 70px;
	background-color: #edecea !important;
	height: 100%;
	
	
}
.row {
	background-color: #edecea;n
	
}
footer {
   
	text-align: center;
	padding: 10px;
	background-color: gray;
	color: silver;
	width: 100%;
	height: 50px;
	font-size: 15px;
	
}

#panthersPicture{
	height: 133px;
	width: 75px;
	margin-left: 15%;
	float: left;
}
.navbar-brand{
	margin-left: 15px !important;
	background-color: #00aba0 !important;
	color: #ffffff !important;
}
.container-fluid {
	background-color: #ffffff !important;


}

h1, h2, h3{
	text-align: left;
	color: #00aba0;
	padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
}
h2 {
	font-size: 22px;
	text-align: center;
}
.portfolio {
	height: 200px;
	width: 200px;
}
[class*="col"] { border-color: black;
border-size: 1px;
border-style: solid;
background-color: #ffffff;
margin: auto;
display: block;
	 }

ul{
	float: right;
	margin-right: 20%;
}
.sidebar{
	float: right;
	margin-right: 10%;
    width: 100%;
    max-width: 25%;
    padding: 30px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
}
.main-content {
	float: left;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
}
nav a:first-child{
	border-left: 0 none;
}
nav a {
	display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef
}
.about {
	float: right;
    width: 100%;
    max-width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
}
.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
  vertical-align: baseline;
  text-align: center;
}

.social:last-child {
  margin-right: 0;
}
label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}
#lorempixel {
	float: left;
}
.navbar-right {
	margin-right: 10%;
}